.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.ipch
*.db
x64/
x86/
Debug/
Release/
*.pdb
*.ilk
*.obj
*.log
*.tlog
*.idb
*.pch
*.sdf
*.opensdf
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.ipch
*.aps
*.ncb
*.opt
*.plg
*.res
*.sbr
*.tlb
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.cache
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.ipch
*.aps
*.ncb
*.opt
*.plg
*.res
*.sbr
*.tlb
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
*.builds
*.pidb
*.svclog
*.scc
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.cache

